.album {
    margin: 10px;
    text-overflow: ellipsis;
    width: 120px;
    cursor: pointer;
}
.artist {
  font-family: sans-serif;
    font-weight: 600;
}
.cover {
  width: 75px;
  height: 75px;
  border-width: 1.5px;
  border-style: outset;
  border-color: rgb(87, 91, 94);
}
* {
  font-size: xx-small;
  color: antiquewhite;
  background-color: black;
  text-align: center;
}
input {
  background-color: #242424;
  border: 0;
  border-radius: 500px;
  color: #fff!important;
  height: 15px;
  padding: 6px 15px;
  text-overflow: ellipsis;
}
button {
  width: 63px;
  border-radius: 10px;
  padding: 4px 3px;
  border: 1.5px solid dimgray;
  cursor: pointer;
}
.album-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  align-items: center;
  flex-flow: row wrap;
  position: absolute;
}

.album-name {
  font-family: sans-serif;
  font-weight: 700;
}

.year {
  font-weight: 400;
  color: #6a6a6a;
  font-size: 8px;
}

.artist-name {

}

